body{background-color: blue;}
h1{color: aquamarine;font-size: 100px;}
h2{background-color: #f0f;}
/* class */
.elemento{color: aliceblue;}
/* id */
#titular{font-size: x-small; position: relative; left: 150px;}       
/* para todo */
*{border:1px solid #f0f;}
.divardo{
    font-size: 40px;
    position: relative;
    left: 40px;
}
.imagen{
    position: relative;
    left: 50vw;
    touch-action: manipulation;
}