body{
    background-color: white;
    
    
}
h1{
    color: black;
    font-size: 100px;
    top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(Imagenes/run.jpg);
    
}
h2{
    background-color: #fff;
}

nav{
    display: grid;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    font-size: 35px;

}
/* .div1{
   
   
    position: relative;
}
.div2{
   
    position: relative;
}
.div3{
   
    position: relative;
} 
.div4{
    position: relative;
  
    
}
.div5{
    
    position: relative;
} */
.box{
    
    color: cadetblue;
}
.esgrima{
   
    color: cadetblue;    
}
.karate{
    
    color: cadetblue;
}
.muay{
    
    color: cadetblue;
}
.yudo{
    
    color: cadetblue;
}
.h3{
    font-size: 50px;
}
/* class */
.elemento{
    color: aliceblue;
}

.grid{
    grid-template-areas:
    'j j j ' 
    'fore fore fore fore';
    display: grid;
    /* grid-template-columns: 25vw 25vw 25vw 25vw; */
    text-align: center;
    justify-content: space-evenly;
    align-content: flex-start;
    font-size: 30px;
    padding: 50px;
    background-color: aquamarine;
    gap: 15px;
}     
.grid1{
    grid-area: 'j';
    /* grid-column: 1/span 2;
} */
}
.grid2{
    grid-area: 'fore';
}
/* para todo */

.divardo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; 
    align-items: stretch;
    font-size: 40px;
    position: relative;
    left: 40px;
}
.imagen{
    position: relative;
    left: 50vw;
    touch-action: manipulation;
}