body{
    background-color: #000;
    
}


nav{
    background-color: #000;
}



.texto-carousel{
    font-size: 40px;
}

#deportes{
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-evenly;
    /* row-gap: 150px; */
    
}
#deportes img{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 28px;
    
}

.cardBorde {
    border-style: none;
    border: 20px;
    border-radius: 20px;
    margin: 50px;
    background-color: rgb(243, 239, 239);
    margin-bottom: 20px;

}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
  
.card-text {
    color: #777;
}

.card-body{
    padding: 20px;
}

.cardBorde img {
    width: 250px;
    height: 175px;
    padding: 15px;
    border-radius: 38px;
}


.background img{
    background-image: url('./Imagenes/fondo\ de\ pagina2.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
}

#contacto{
    width: 100%;
    height: 100%;
}

.div-footer ul li{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}